.window {
  margin: 10px auto;
  width: 90%;
  /* height: 680px; */
  height: 90%;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

.nav {
  background: #fdfdfd;
  padding: 5px 5px 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #eeeeee;
  height: 44px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imgCertificate{
  width: 100%;
  height: 100%;
}

.ul,
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.ul {
  display: flex;
  width: 100%;
  z-index: 10;
}

.list{
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  /* position: relative; */
  background: white;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  animation: parpadeotext 2s ease-in-out infinite alternate;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
}

.list.selected {
  background: #ddd !important;
  border: none !important;
  font-size: 1.1rem;
  font-weight: bold;
}

.list button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #000;
  margin-left: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

@keyframes parpadeotext {
  0% {
    background-color: rgba(0, 0, 255, 0.3);
    border-top: 1px solid blue;
  }
  
  100% {
    text-shadow: 0px 0px 10px white;
  }
}


@media screen and (max-width: 900px) {
  
}
@media screen and (max-width: 700px) {
  .list{
    font-size: 0.8rem;
  }
  .list.selected{
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .list {
    font-size: 0.6rem;
  }
  
  .list.selected {
    font-size: 0.8rem;
  }
}